@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 20, 184, 166;
  --background-end-rgb: 15, 118, 110;
}

html {
  overscroll-behavior: none;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
} 